<h1>投稿詳細</h1>
<p>【メールアドレス】<%= @food.user.email %></p>
<p>【食品名】<%= @food.name %></p>
<p>【コメント】</p>
<p><%= simple_format(h(@food.comment)) %></p>
<% if @food.user.id == current_user.id %>
  <%= link_to "削除", food_path(@food), method: :delete, data: { confirm: "削除しますか？" } %>
<% end %>
<%= link_to "投稿一覧へ", foods_path %>
